.CANavigationWrapper {
  position: sticky;
  top: 0px;
  background-color: black;
  border-style: solid;
  padding: 10px;
  border-width: 1px 0px 0px 0px;

  input {
    border-radius: 5px;
    font-weight: 700;
  }

  img {
    max-width: 50px;
    border: none;
    cursor: pointer;

    &:last-child {
      margin-left: 10px;
    }
  }

  .CANavigation {
    display: flex;
    justify-content: space-between;
  }
}
