.no-data {
  margin: 20px auto auto auto;
  text-align: center;
  width: 280px;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 40vh auto;
}

.current-affairs {
  min-height: 100vh;

  h1 {
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.25rem;
  }

  .notes {
    margin-top: 30px;

    img {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
